html {
    color-scheme: light dark;
}

body {
    font-family: "Roboto";
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

@media (min-width: 980px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    min-height: 100vh;
}
